<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>People</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <form method="post">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(people)}">
                        <td colspan="6" class="text-center">No data</td>
                    </tr>
                    <tr th:each="person : ${people}">
                        <td><input type="checkbox" class="form-check-input" name="toAffect" th:value="${person.id}"></td>
                        <td th:text="${person.id}"></td>
                        <td th:text="${person.firstName}"></td>
                        <td th:text="${person.lastName}"></td>
                        <td th:text="${person.email}"></td>
                        <td th:text="${#temporals.format(person.dob, 'MMMM dd, yyyy')}"></td>
                        <td th:text="${{person.salary}}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-dark my-3" name="update" value="true">Update</button>
                <button type="submit" class="btn btn-danger my-3" name="delete" value="true">Delete</button>
            </form>

            <form method="post" th:object="${person}" novalidate>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" th:errorclass="is-invalid">
                    <div id="firstNameValidation" class="invalid-feedback" th:errors="*{firstName}"></div>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:errorclass="is-invalid">
                    <div id="lastNameValidation" class="invalid-feedback" th:errors="*{lastName}"></div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
                    <div id="emailValidation" class="invalid-feedback" th:errors="*{email}"></div>
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date of birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{dob}" th:errorclass="is-invalid">
                    <div id="dateOfBirthValidation" class="invalid-feedback" th:errors="*{dob}"></div>
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary" th:field="*{salary}" th:errorclass="is-invalid">
                    <div id="salaryValidation" class="invalid-feedback" th:errors="*{salary}"></div>
                </div>
                <input type="hidden" th:field="*{id}">
                <button type="submit" class="btn btn-dark">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>